{% extends "base.html" %}

{% block title %} Главная {% endblock title %}
{% block menu %}
{% if user.is_authenticated %}
<li class="nav-item"><a class="nav-link active" href="{% url 'add_photo' %}" > Добавить фото</a></li>
{% endif %}
{% endblock menu %}

{% block content %}
<div class="container d-flex flex-wrap">
{% if photos %}

    {% for photo in photos %}
    <div class="card m-2" style="width: 18rem;">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter }}" style="z-index: 4;">
            <img class="card-img-top" src="{{ photo.photo.url }}" style="height: 300px;">
        </button>
        <div class="card-body">
            <p class="card-text"><small class="text-muted">Подпись: </small>{{ photo.caption }}</p>
            <br>
            <p class="card-text"></p>
            <p class="card-text"> <small class="text-muted">Автор: </small><a href="{% url 'profile' photo.author.pk %}" >{{ photo.author }}</a> </p>                          
            
        <small class="text-muted">Дата и время добавления</small>
            <p class="card-text"> {{ photo.created_at }} </p>
        </div>
    </div>
    <div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{ photo.photo.url }}" style="height: 100%; width: 100%;">
                </div>
                <div class="modal-footer">
                    <p><a href="{% url 'detail_photo' photo.pk %}">Подробнее...</a></p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
<h1>Галерея Пуста</h1>
{% endif %}
</div>
{% endblock content %}





        
